@import "../../styles/colors.scss";
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 26px;

  & .right {
    button {
      width: 241px;
      height: 40px;
      background-color: $secondary;
      border: none;
      outline: none;
      padding: 10px 26px;
      width: 100%;
      // color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      cursor: pointer;
      color: $primary;
    }
    & .icon {
      margin-left: 10.5px;
    }
  }

  & .left {
    display: flex;
    align-items: center;
    width: 235px;
    height: 40px;
    gap: 8px;

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
