.container {
  border: 1.5px solid #dadce2;
  transition: all 0.4s ease;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  &.active {
    border-color: #0069d0;
    background-color: #f5fbff;
    & > .icon {
      background: #dcf1fe;
    }
  }
}

.icon {
  display: flex;
  width: 40px !important;
  height: 40px !important;
  padding: 6px !important;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #f0f9ff !important;
  & > svg {
    width: 26px !important;
    height: 26px !important;
    & > path {
      fill: #0048b1 !important;
    }
  }
}
