.activeStepIcon,
.currentStepIcon,
.completedStepIcon {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #0089e7 !important;
  background: #fff !important;
  padding: 0 !important;
}
.currentStepIcon {
  border-color: #dadce2 !important;
}
.completedStepIcon {
  background-color: #0048b1 !important;
  border-color: transparent !important;
  padding: 0;
}
