.container {
  height: 100vh !important;
  display: grid !important;
  grid-template-columns: auto 1fr !important;
  grid-template-rows: 60px 1fr !important;
}
.sidebar {
  position: sticky !important;
  left: 0;
  top: 0;
  grid-column: 1 / 2 !important;
  grid-row: 1 / -1 !important;
  background-color: #fff;
  width: 59px;
  border-right: 1px solid #dde0e7;
  transition: all 0.4s ease;
  &:not(.active) {
    & .navigations {
      min-width: 59px !important;
      & .nested,
      & .nestedIcon,
      & span {
        display: none;
      }
      & li {
        padding: 0;
        & > div {
          padding: 0;
          justify-content: center;
        }
      }
    }
    & > .logo {
      & p {
        display: none;
      }
    }
    & > .brand {
      display: none;
    }
    & li {
      padding: 20px;
      & > span {
        display: none;
      }
    }
  }
  &.active {
    width: 250px;
  }
}
.topbar {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dde0e7;
  background-color: #fff;
  padding: 0 30px;
}
.content {
  background-color: #f7f9fc;
  overflow: auto;
}

.navigations {
  position: relative;
  grid-column: 1 / 2 !important;
  grid-row: 1 / -1 !important;
  border-right: 1px solid #e9ebf2;
  min-width: 250px;
  overflow-y: auto;
  margin-top: 20px;
  & > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    & > li {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        align-items: center;
        min-height: 44px;
        cursor: pointer;
        padding: 0 24px;
        & path {
          fill: rgba(38, 43, 64, 0.8);
        }
        &.active,
        &:hover {
          background: #f3f3f9;
          & path {
            fill: #2e3192;
          }
          & > span {
            color: #2e3192;
          }
        }
        & > span {
          font-size: 14px;
          color: rgba(38, 43, 64, 0.8);
          margin-left: 15px;
        }
      }
      &:last-child {
        position: sticky !important;
        margin-top: auto;
        background-color: #fff;
        bottom: 0;
        left: 0;
        max-width: 250px;
      }
    }
  }
}

.nested {
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  transform: translateY(-10%);
  &.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  & > li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    & > a {
      display: flex;
      align-items: center;
      min-height: 44px;
      cursor: pointer;
      padding: 0 48px;
      & > div {
        width: 4px;
        height: 4px;
        background: #b9badb;
        border-radius: 100px;
      }
      & path {
        fill: rgba(38, 43, 64, 0.8);
      }
      &.active,
      &:hover {
        background: #f3f3f9;
        & path {
          fill: #2e3192;
        }
        & > span {
          color: #2e3192;
        }
        & > div {
          background: #2e3192;
          transition: all 0.3s ease;
        }
      }
      & > span {
        font-size: 14px;
        color: rgba(38, 43, 64, 0.8);
        margin-left: 15px;
      }
    }
  }
}

// .navigations {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 10px;
//   margin-top: 20px;
//   height: auto;
//   & > ul {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     width: 100%;
//     & > li {
//       width: 100%;
//       height: 44px;
//       padding: 0 24px;
//       display: flex;
//       align-items: center;
//       gap: 15px;
//       cursor: pointer;
//       background-color: #fff;
//       transition: background-color 0.3s;
//       & > a {
//         transition: all 0.2s ease-in;
//         position: relative;
//         opacity: 1;
//         visibility: visible;
//         white-space: nowrap;
//       }
//       &:last-child {
//         margin-top: 10px;
//       }
//       &.active,
//       &:hover {
//         background-color: #f3f3f9;
//         & path {
//           fill: #2e3192;
//         }
//         & > a {
//           color: #2e3192;
//         }
//       }
//     }
//   }
// }
