$primary-color: #ff1a71;
$secondary-color: #ea5851;
$hightlight-color: #f3f3f9;
$hightlight2-color: #f5f6fe;
$accent-color: #4a4e60;
$dark-color: #4a4e60;
$bg-color: #f7f9fc;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
