.container {
  margin-top: 95px;
  max-width: 1269px;
  margin-inline: auto;
}
.thumbnail {
  border: 1px solid #c4c4c4;
  width: 634px;
  height: 670px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.relatedProdContainer {
  background-color: #ffeaf2;
  margin-top: 150px;
  padding: 104px 90px 128px 90px;
  display: flex;
  align-items: center;
  & > div {
    margin-top: 49px;
  }
}

.thumbnailImage {
  width: 194px;
  height: 189px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
