@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f7f9fc;
  color: #262b40;
  padding: 0;
  margin: 0;
}
form {
  width: 100%;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
input::placeholder {
  opacity: 1 !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

hr {
  border: 1px solid #e4e8f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
  color: #2e3192;
}

fieldset {
  border-radius: 0 !important;
}

* {
  outline: none !important;
}

.MuiPagination-root {
  .MuiPagination-ul {
    flex-wrap: nowrap;
    li {
      &:first-child {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > button::after {
          margin-left: 10px;
          content: "previous";
        }
      }
      &:last-child {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > button::before {
          margin-right: 10px;
          content: "next";
        }
      }
    }
  }
}

.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  width: max-content;
  gap: 8px !important;
  background: rgba(0, 128, 55, 0.05);
  border-radius: 0 !important;
  &.approved,
  &.active,
  &.successful,
  &.available,
  &.completed {
    color: #097122;
    background-color: rgba(9, 113, 33, 0.05);
  }
  &.pending-review,
  &.pending-verification,
  &.pending-approval,
  &.pending,
  &.processing,
  &.archived {
    color: #cd8a0a;
    background: rgba(184, 123, 8, 0.05);
  }
  &.in-review,
  &.new,
  &.initiated {
    color: #1155d9;
    background-color: rgba(16, 96, 251, 0.05);
  }
  &.rejected,
  &.suspended,
  &.due,
  &.fail,
  &.failed,
  &.inactive,
  &.blacklisted {
    color: #ea5851;
    background-color: rgba(255, 194, 191, 0.15);
  }
}
